.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: dimgrey;
}
.image_holder {
    width: 360px;
    height: auto;
    object-fit: contain;
    margin-top: 10px;
}
.card_images {
    width: 100%;
    object-fit: contain;
}
.cardbox {
    align-items: center;
    background-image: url(../cue_images/card_background.jpg);
}
.cardList {
    text-align: center;
    background-color: dimgrey;
    margin-bottom: 0px;
}
#root {
    background-color: dimgrey;
}