html, body {
    height: 100%;
}
.user_cardbox {
    width: 24rem;
    margin-bottom: 10px;
}
.user_cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.user_cardbody {
    height: 30% !important;
}
.user_image_holder {
    height: 68% !important;
}