{
  "users": [
  ],
  "builders": [
    {
      "id": 1,
      "name": "Leonard Bludworth",
      "contactInfo": "https://www.facebook.com/leonard.bludworth.1"
    },
    {
      "id": 2,
      "name": "Mike Capone",
      "contactInfo": "301-349-2187"
    },
    {
      "id": 3,
      "name": "Dave Barenbrugge",
      "contactInfo": "480-213-5416"
    },
    {
      "id": 4,
      "name": "Eddie Cohen",
      "contactInfo": "eddie@cohencues.com"
    },
    {
      "id": 5,
      "name": "John Hart",
      "contactInfo": "none@none.com"
    },
    {
      "id": 6,
      "name": "Willie Blade",
      "contactInfo": "willieblade.com"
    },
    {
      "id": 7,
      "name": "Paul Drexler",
      "contactInfo": "860 295-8500"
    },
    {
      "id": 8,
      "name": "Shelby Williams",
      "contactInfo": "https://www.facebook.com/shelby.williams.94849"
    },
    {
      "id": 9,
      "name": "Southwest Cues",
      "contactInfo": "702-870-9615"
    },
    {
      "id": 10,
      "name": "Steve Lomax",
      "contactInfo": "706-776-1252"
    }
  ],
  "wraps": [
    {
      "id": 1,
      "name": "Irish Linen",
      "aboutWrap": "Double Pressed Irish Linen Wrap is the industry standard and the choice of many players for grips. Top-quality European imported thread is available in a wide variety of colors. 100% Double Pressed Irish Linen Wraps should be professionally installed and will provide flawless performance year after year."
    },
    {
      "id": 2,
      "name": "Leather",
      "aboutWrap": "A leather wrap is possibly one of the most noticeable upgrades that can be completed on a prized pool cue. Leather Cue Wraps are a great way to improve the grip and overall feel of your cue while also adding a touch of personal flare. Leather wraps come in a variety of finishes including bullhide, sharkskin, embossed lizard, eel skin, and ostrich."
    },
    {
      "id": 3,
      "name": "Wrapless",
      "aboutWrap": "Offers an extremely high level of grip.  The finish applied to the wood reacts with the sweat on your hands and causes them to stick to it. Some people may think that because it's like the shaft that it must be slippery, but that couldn't be further from the truth. Wrapless also affords the builder the opportunity to further stretch customization with different woods, inlays, and rings."
    }
  ],
  "styles": [
    {
      "id": 1,
      "name": "Inlays Only",
      "aboutStyle": "When you want to take it to the next level, you can have inlays in your pool cue. That’s when designs are cut into the wood, and different materials are used to fill those designs. The result is much more refined designs, and the potential to turn your cue into a real piece of artwork."
    },
    {
      "id": 2,
      "name": "Full Splice Points",
      "aboutStyle": "A full splice cue means that the points are milled at both ends and interlock with one another. The term FULL Splice means that the bottom portion of the point is one piece that extends to the length of the handle of the cue. This process is often seen in high-end custom cues and house cues. It is a very stable and strong construction method that requires special milling equipment and is not widely practiced. In fact, there are only a handful of cue makers out there that still use this method due to its costly and time consuming production process. That being said, you can bet that most full splice cues are expensive."
    },
    {
      "id": 3,
      "name": "Points with Inlays",
      "aboutStyle": "Giving you the best of both worlds.  Points and inlays enables the ultimate in expression."
    },
    {
      "id": 4,
      "name": "Merry Widow",
      "aboutStyle": "Also known as a Plain Jane, a merry widow cue has no points and no inlays.  Wrapped or wrap-less, it usually includes decorative rings at the C and D positions."
    },
    {
      "id": 5,
      "name": "Full Splice Butterfly",
      "aboutStyle": " full splice cue means that the points are milled at both ends and interlock with one another. The term FULL Splice means that the bottom portion of the point is one piece that extends to the length of the handle of the cue. Butterfly construction is an extra layer of complexity in that the points are reversed into the handle of the cue leading to rounded ends that bring to mind the wings of a butterfly. It is a very stable and strong construction method that requires special milling equipment and is not widely practiced. In fact, there are only a handful of cue makers out there that still use this method due to its costly and time consuming production process. That being said, you can bet that most full splice cues are expensive."
    }
  ],
  "cues": [
    {
      "id": 10,
      "builderId": 1,
      "styleId": 1,
      "wrapId": 1,
      "aboutCue": "All ivory inlays with Bacote butt sleeve and Bacote forearm. Twin silver rings at all locations including both shafts.  Black Irish linen, with silver speckles. Black phenolic butt cap, black phenolic joint collar.",
      "image": "Bludworth_Inlays.jpg"
    },
    {
      "id": 9,
      "builderId": 2,
      "styleId": 2,
      "wrapId": 1,
      "aboutCue": "Brazilian Rosewood into birdseye maple.  4 points, Hoppe ring, nice stich ringwork and white/brown linen wrap.",
      "image": "Capone_4_Point.jpg"
    },
    {
      "id": 8,
      "builderId": 3,
      "styleId": 4,
      "wrapId": 2,
      "aboutCue": "Pomelle Bubinga Merry Widow with eel skin leather wrap",
      "image": "Dave_Barenbrugge_Merry_Widow.jpg"
    },
    {
      "id": 7,
      "builderId": 4,
      "styleId": 3,
      "wrapId": 2,
      "aboutCue": "Grey and blue beauty.  Ebony forearm, with six stabilized Curly Maple points. 6 silver diamond inlays with black borders. Grey Spanish Bull leather wrap.",
      "image": "Eddie_Cohen_6_Point.jpg"
    },
    {
      "id": 6,
      "builderId": 5,
      "styleId": 4,
      "wrapId": 3,
      "aboutCue": "60 inch wrapless merry widow made from stabilized spalted maple along with a matching spalted extension.",
      "image": "Hart_Merry_Widow.jpg"
    },
    {
      "id": 5,
      "builderId": 6,
      "styleId": 5,
      "wrapId": 3,
      "aboutCue": "Bacote wrapless full splice into ebony butterfly with paper and wood veneers.",
      "image": "Ivantsov_Butterfly.jpg"
    },
    {
      "id": 4,
      "builderId": 7,
      "styleId": 1,
      "wrapId": 2,
      "aboutCue": "PFD Number 4 of 5. Paul created 5 cues built on Burton Spain blanks. This is number 4 and extremely fancy with all ivory inlays and boxes. The black bullskin leather wrap styles perfectly with the ebony forearm and butt when combined with the ivory.  You can see the work Paul has done on this cue. It has not seen the light of day since it was sold to a collector that shelved it in 2002.",
      "image": "Paul_Drexler_Inlay.jpg"
    },
    {
      "id": 3,
      "builderId": 8,
      "styleId": 2,
      "wrapId": 3,
      "aboutCue": "Figured Indian ebony with points and wrapless handle made from curly Walnut.",
      "image": "Shelby_Williams_6_Point.jpg"
    },
    {
      "id": 2,
      "builderId": 9,
      "styleId": 1,
      "wrapId": 1,
      "aboutCue": "The unicorn of SouthWest Cues.  This inlay only all ebony cue features over 450 individual ivory inlays.  Wrap is white irish linen with brown flecks.",
      "image": "Southwest_Inlays_Linen.jpg"
    },
    {
      "id": 1,
      "builderId": 10,
      "styleId": 2,
      "wrapId": 1,
      "aboutCue": "4 cocobolo points into curly maple forearm.  Maple checked ring work at A-E, and solid black irish linen wrap.",
      "image": "Steve_Lomax_4_Point.jpg"
    }
  ],
  "user_cues": [
  ]
}